html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/
.contenedor {
    max-width: 120rem; /* ancho máximo - recomendable para que en ventana completa el contenido no crezca el 95% si no que va a tener un ancho limitado */
    width: 95%; /* ancho fluido - para que esté centrado el contenido con sus separaciones izq y derecha, y asi este no toma todo el ancho. */
    margin: 0 auto; /* centrado horizontal */
}

/* Tablet */
@media (min-width: 768px) {
    .contenedor {
        width: 80%;
    }
}

/* Escritorio */
@media (min-width: 992px) {
    .contenedor {
        width: 60%;
    }
}

/* Esta imagen es la que está dentro del contenedor, por lo tanto va a respetar los anchos definidos en el contenedor */
img {
    /* max-width: 100% evita que la imagen se desborde del contenedor */
    max-width: 100%; /* imagenes fluidas - es para que la imagen sea responsive y no sea forzada a crecer a tomar el 100%, osea, no crece más de su tamaño relativo */
    height: auto; /* mantiene la proporción de la imagen */
}